<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Base Nodejs Rest API</title>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" zcrossorigin="anonymous"></script> -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="static/js/main.js" charset="utf-8"></script>
    <script src="static/js/login.js" charset="utf-8"></script>
    <script src="static/js/users.js" charset="utf-8"></script>


    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="static/css/admin.css" />
    <link rel="stylesheet" type="text/css" href="static/css/users.css" />

    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
    </script>
    <script src="semantic/dist/semantic.min.js"></script>
</head>
<body>
    <!-- Other views will use this file as a template en embed themselves inside the <body> field -->
    {{{ body }}}
</body>
</html>
