<div class="ui container">
    <h2>api rest tokens</h2>
    <p>This is a api rest of SogetiLab Spain</p>
</div>
<div class="ui placeholder  segment">
    <div id="login" class="ui center aligned container grid">
        <div class="column">
            <h2 class="ui blue header">
                <!-- <img src="/assets/images/logo.png" class="ui image"> -->
                <div class="content">
                    Acces for admin
                </div>
            </h2>
                <form class="ui large form">
                    <div class="ui stacked segment">
                            <div class="field">
                                <!-- <label>Username</label> -->
                                <div class="ui left icon input">
                                    <div class="ui left icon input">
                                        <input type="emailAdmin" placeholder="Admin email">
                                        <i class="user icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                            <!-- <label>Password</label> -->
                            <div class="ui left icon input">
                                <div class="ui left icon input">
                                    <input type="passAdmin" placeholder="Admin password">
                                    <i class="unlock alternate icon"></i>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="ui fluid large blue submit button">
                            <input type="submit" name="loginAdmin" value="Login">
                            <!-- <button type="submit" name="buttonAdmin">
                            Login
                        </button> -->
                        </div>
                        <div class="ui hidden message messageContainer">
                            <div class="ui negative message">
                                <i id="closeErrorMessagePass" class="close icon"></i>
                                <div class="header">
                                    We're sorry we can't search this access
                                </div>
                                <p>Please, intent a new email or password
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>
