<div class="ui inverted center aligned segment mainView">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <div class="right item">
                <a class="ui inverted button">
                    Log in
                </a>
            </div>
        </div>
    </div>
    <div class="ui container positionMainText">
        <div class="ui text container">
            <div class="ui inverted header">
                API-REST FOR SEND TOKENS
            </div>
            <h2>This api-rest is only for send tokens to others users or projects.</h2>
        </div>
    </div>
</div>
<!-- C:\Users\cperezll\Downloads\base-nodejs-rest-master\base-nodejs-rest-master\server\views\static\assets\images\sogeti_in_short.jpg -->
    <img id="mainImage" class="ui fluid image" src="/static/images/sogeti_in_short.jpg">
